/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/drinks/drinks.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.drinkindrink {
    width: auto;
    height:fit-content;
    box-shadow: 2px 3px 10px 1px rgba(175, 173, 173, 0.329);
    margin: 10% 10% 0 10%;
    display: flex;
    justify-content: space-between;
}
.cold, .hot {
    margin: 15px;
    width: 50%;
    height: 100%;

}
.coldheader, .hotheader {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    background-color: #b8864f;
    height: 75px;
    border-radius: 10px;
}
.coldcards, .hotcards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 10px;
}
.card {
    width: 100%;
    height: 400px;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 2px 3px 10px 1px rgba(175, 173, 173, 0.329);
    background-color: #333;
    border-radius: 10px;
}
.home-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #b8864f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Ensure it is on top of other elements */
    box-shadow: 2px 3px 10px rgba(175, 173, 173, 0.329);
    text-decoration: none;
}

.home-button:hover {
    background-color: #a0753d;
}
.drinks-container {
    position: relative;
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}
.back {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotateY(180deg);
    padding-left: 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.flipped {
    transform: rotateY(180deg);
}

.drinksimg {
    width: 95%;
    padding: 7px;
    border-radius: 10px;
    height: 50%;
}

.drinksprice {
    font-size: 30px;
    color: white;
    margin: 10px;
}

.drinkdetails, .gotocard {
    margin: 10px;
    padding: 15px;
    width: 50%;
    font-size: 20px;
    background-color: #b8864f;
    cursor: pointer;
    border-radius: 20px;
}


